{% extends "layout.html"%}

{% block body %}
    <h1 style="color: green;">Orders</h1>
    <table style="border-spacing: 20px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Food Item</th>
                <th>Drink</th>
            </tr>
        </thead>
        <tbody>
            {% for name in orders %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ orders[name].food }}</td>
                <td>{{ orders[name].drink }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}